.axis line {
  stroke: black;
}

.axis path {
  stroke: black;
}

.axis text {
  font-size: medium;
  fill: black;
}

.xAxis_title {
  text-anchor: start;
  font-size: large;
  font-weight: bold;
  color: black;
}

.yAxis_title {
  text-anchor: end;
  font-size: large;
  font-weight: bold;
  color: black;
}